body{
    font-family: 'Oswald', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
#headingcolor{
    color: orangered;
}
#btn1{
    background-color: #ffae00;
    font-weight: 700;
    font-size: 30px;
    
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;

}
.half-width img{
    width: 100%;
}
.top-background{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}
.second-background{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}
section{
    height: 500px;
    padding-bottom: 200px;
}
.link-btn{
    text-decoration: none;
    background-image: linear-gradient(45deg, #e9ec22, #ff3c00);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 500;
    color: white;

}
.link-btn2{
    text-decoration: none;
    background-image: linear-gradient(45deg, #af7b3e, #ff9900);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 500;
    color: white;
}
.exp-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#textcolor{
    color: #ff5100;
}
#textalign{
    text-align: center;
    color: #f71010;
}
.single-exp{
    box-shadow: 10px 10px 40px rgb(255, 89, 47);
    height: 70%;
    border-radius: 10px;
}
#first-box{
    border-left: 8px solid red;
    /*border-image: linear-gradient(180deg, red, #b93602);
    border-image-slice: 1;*/
}
#second-box{
    border-left: 8px solid rgb(38, 196, 235);
    /*border-image: linear-gradient(180deg, red, #b93602);
    border-image-slice: 1;*/
   
}
footer p{
    text-align: center;
    font-weight: 600;
}